<h2 id="单个样品差异分析">7.2 单个样品差异分析(每组内样品数>=3)</h2>
{% if alpha_diff %}

    <p class="paragraph">
        分别对Alpha Diversity的各个指数进行秩和检验分析
        (若两组样品比较即使用R中的wilcox.test函数，若两组以上的样品比较则使用R中的kruskal.test函数)，
        通过秩和检验筛选不同条件下的显著差异的Alpha Diversity指数。
    </p>

    <p class="paragraph">软件平台：</p>
    <p class="paragraph">结果目录：<a href="javascript:void(0)" onClick="StartExcel('..\\results\\07_Alpha_diversity\\{{ group_file }}\\alpha_marker.tsv')" target="_blank"> alpha_marker.tsv   </a></p>
    <p class="name_table">表7-2-1 Alpha diversity指数差异检验</p>

    <div class="center_table">
        <div id="toolbar6" class="pull-left-self">
            <select class="form-control">
                <option value="">Export Basic</option>
                <option value="all">Export All</option>
                <option value="selected">Export Selected</option>
            </select>
        </div>
        <table id="table6" data-height="560" data-pagination="true" data-filter-control="true"
               data-show-export="true" data-page-list="[10, 25, 50, 100, 200, All]">

        </table>
    </div>
    <p class="tremark">注：第一行是Alpha Diversity指数；</p>
    <p class="tremark">第二行至第{{ group_num + 2 }}行分别为{{ group_num }}组样品的均值；</p>
    <p class="tremark">其中一行（P-value）为秩和检验的P-value值；</p>


    {% if alpha_diff_boxplot %}

        <!-- main slider carousel -->
        <div class="row">
            <div class="col-md-12" id="slider">
                <div class="col-md-12" id="carousel-bounding-box">
                    <div id="myCarousel4" class="carousel slide">
                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="images/group/box_plot/chao1.boxplot.png" alt="chao1">
                            </div>
                            <div class="item">
                                <img src="images/group/box_plot/goods_coverage.boxplot.png" alt="goods_coverage">
                            </div>
                            <div class="item">
                                <img src="images/group/box_plot/observed_species.boxplot.png"
                                     alt="observed_species">
                            </div>
                            <div class="item">
                                <img src="images/group/box_plot/PD_whole_tree.boxplot.png" alt="PD_whole_tree">
                            </div>
                            <div class="item">
                                <img src="images/group/box_plot/shannon.boxplot.png" alt="shannon">
                            </div>
                            <div class="item">
                                <img src="images/group/box_plot/simpson.boxplot.png" alt="simpson">
                            </div>
                        </div>
                        <!-- 轮播（Carousel）导航 -->
                        <a class="carousel-control left" href="#myCarousel4" data-slide="prev"><span
                                class="img-switch-btn"></span></a>
                        <a class="carousel-control right" href="#myCarousel4" data-slide="next"><span
                                class="img-switch-btn2"></span></a>
                        <!-- 控制按钮 -->
                        <div style="text-align:center;">
                            <input type="button" class="btn btn-success btn-sm" id="slide-4-0" value="chao1">
                            <input type="button" class="btn btn-success btn-sm" id="slide-4-1"
                                   value="goods_coverage">
                            <input type="button" class="btn btn-success btn-sm" id="slide-4-2"
                                   value="observed_species">
                            <input type="button" class="btn btn-success btn-sm" id="slide-4-3"
                                   value="PD_whole_tree">
                            <input type="button" class="btn btn-success btn-sm" id="slide-4-4" value="shannon">
                            <input type="button" class="btn btn-success btn-sm" id="slide-4-5" value="simpson">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="name_fig">图7-2-1组间Alpha多样性盒形图：</p>
        <p class="premark">
            注：盒形图可以显示5个统计量（最小值，第一个四分位数，中位数，第三个中位数和最大值，及由下到上的5条线），异常值以“o”标出。
            横轴是分组名称，纵轴是不同分组下的alpha多样性指数的值。
        </p>
    {% endif %}
{% else %}
    <p class="error">样品数不足无法分析</p>
{% endif %}