<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img src="LOGO.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#项目信息" id="zong" class="cs-navi-tab">项目信息</a></li>
                <li class="dropdown">
                    <a href="#实验流程" class="dropdown-toggle" data-toggle="dropdown">实验流程 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#Illumina测序实验流程" id="raw_data" class="cs-navi-tab">Illumina测序实验流程</a></li>
                        <li><a href="#基因组DNA抽提和质检" id="raw_data" class="cs-navi-tab">基因组DNA抽提和质检</a></li>
                        <li><a href="#引物设计并合成" id="raw_data" class="cs-navi-tab">引物设计并合成</a></li>
                        <li><a href="#PCR扩增" id="raw_data" class="cs-navi-tab">PCR扩增</a></li>
                        <li><a href="#PCR产物定量和均一化" id="raw_data" class="cs-navi-tab">PCR产物定量和均一化</a></li>
                        <li><a href="#Illumina测序" id="raw_data" class="cs-navi-tab">Illumina测序</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#生物信息分析流程" class="dropdown-toggle" data-toggle="dropdown">生物信息分析流程 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#生物信息分析流程" id="raw_data" class="cs-navi-tab">生物信息分析流程</a></li>
                        <li><a href="#项目分析内容" id="raw_data" class="cs-navi-tab">项目分析内容</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                  <a href="#数据统计" class="dropdown-toggle" data-toggle="dropdown">数据统计 <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#测序数据统计" id="raw_data" class="cs-navi-tab">测序数据统计</a></li>
                    <li><a href="#优化序列统计" id="raw_data" class="cs-navi-tab">优化序列统计</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">OTU分析 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#OTU聚类" id="raw_data" class="cs-navi-tab">OTU聚类</a></li>
                        <li><a href="#抽平处理" class="cs-navi-tab">抽平处理</a></li>
                        <li><a href="#Core microbiome分析" class="cs-navi-tab">Core microbiome分析</a></li>
                        <li><a href="#OTU Venn图分析" class="cs-navi-tab">OTU Venn图分析</a></li>
                        <li><a href="#OTU PCA分析" src="demo/panel.html" class="cs-navi-tab">OTU PCA分析</a></li>
                        <li><a href="#Specaccum物种累积曲线" src="demo/tabs.html" class="cs-navi-tab">Specaccum物种累积曲线</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">物种分类和丰度分析 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#物种注释分析" id="raw_data" class="cs-navi-tab">物种注释分析</a></li>
                        <li><a href="#物种注释结果统计" class="cs-navi-tab">物种注释结果统计</a></li>
                        <li><a href="#物种丰度分析" class="cs-navi-tab">物种丰度分析</a></li>
                        <li><a href="#物种聚类分析" class="cs-navi-tab">物种聚类分析</a></li>
                        <li><a href="#物种热图分析" class="cs-navi-tab">物种热图分析</a></li>
                        <li><a href="#Rank Abundance曲线" class="cs-navi-tab">Rank Abundance曲线</a></li>
                        <li><a href="#物种分类树" class="cs-navi-tab">物种分类树</a></li>
                        <li><a href="#物种注释结果KRONA展示" class="cs-navi-tab">物种注释结果KRONA展示</a></li>
                        <li><a href="#物种进化树" class="cs-navi-tab">物种进化树</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Alpha多样性分析 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#单个样品多样性分析" id="raw_data" class="cs-navi-tab">单个样品多样性分析</a></li>
                        <li><a href="#单个样品差异分析" class="cs-navi-tab">单个样品差异分析</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beta多样性分析 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#UniFrac热图分析" id="raw_data" class="cs-navi-tab">UniFrac热图分析</a></li>
                        <li><a href="#Anosim分析" class="cs-navi-tab">Anosim分析</a></li>
                        <li><a href="#MRPP" class="cs-navi-tab">MRPP</a></li>
                        <li><a href="#PCoA分析" class="cs-navi-tab">PCoA分析</a></li>
                        <li><a href="#NMDS分析" class="cs-navi-tab">NMDS分析</a></li>
                        <li><a href="#UPGMA层次聚类" class="cs-navi-tab">UPGMA层次聚类</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">显著性差异分析 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#LDA EffectSize（LEfSe）分析" id="raw_data" class="cs-navi-tab">LDA EffectSize分析</a></li>
                        <li><a href="#组间差异分析" class="cs-navi-tab">组间差异分析</a></li>
                        <li><a href="#STAMP分析" class="cs-navi-tab">STAMP 分析</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">个性化分析 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#物种CCA/RDA分析" id="raw_data" class="cs-navi-tab">物种CCA/RDA分析</a></li>
                        <li><a href="#16S功能预测" class="cs-navi-tab">16S功能预测</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>