<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img src="LOGO.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#总体概述" id="zong" class="cs-navi-tab">总体概述</a></li>
                <li class="dropdown">
                    <a href="#优化序列统计" class="dropdown-toggle" data-toggle="dropdown">数据统计 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#优化序列统计" id="raw_data" class="cs-navi-tab">优化序列统计</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">OTU分析 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#OTU聚类" id="raw_data" class="cs-navi-tab">OTU聚类</a></li>
                        <li><a href="#抽平处理" class="cs-navi-tab">抽平处理</a></li>
                        <li><a href="#Core microbiome分析" class="cs-navi-tab">Core microbiome分析</a></li>
                        <li><a href="#OTU Venn图分析" class="cs-navi-tab">OTU Venn图分析</a></li>
                        <li><a href="#OTU PCA分析" src="demo/panel.html" class="cs-navi-tab">OTU PCA分析</a></li>
                        <li><a href="#Specaccum物种累积曲线" src="demo/tabs.html" class="cs-navi-tab">Specaccum物种累积曲线</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">物种分类和丰度分析 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#物种注释分析" id="raw_data" class="cs-navi-tab">物种注释分析</a></li>
                        <li><a href="#物种注释结果统计" class="cs-navi-tab">物种注释结果统计</a></li>
                        <li><a href="#物种丰度分析" class="cs-navi-tab">物种丰度分析</a></li>
                        <li><a href="#物种热图分析" class="cs-navi-tab">物种热图分析</a></li>
                        <li><a href="#Rank Abundance曲线" class="cs-navi-tab">Rank Abundance曲线</a></li>
                        <li><a href="#物种注释结果KRONA展示" class="cs-navi-tab">物种注释结果KRONA展示</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Alpha多样性分析 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#单个样品多样性分析" id="raw_data" class="cs-navi-tab">单个样品多样性分析</a></li>
                        <li><a href="#单个样品差异分析" class="cs-navi-tab">单个样品差异分析</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beta多样性分析 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#UniFrac热图分析" id="raw_data" class="cs-navi-tab">UniFrac热图分析</a></li>
                        <li><a href="#Anosim分析" class="cs-navi-tab">Anosim分析</a></li>
                        <li><a href="#PCoA分析" class="cs-navi-tab">PCoA分析</a></li>
                        <li><a href="#NMDS分析" class="cs-navi-tab">NMDS分析</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">显著性差异分析 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#LDA EffectSize（LEfSe）分析" id="raw_data" class="cs-navi-tab">LDA EffectSize分析</a>
                        </li>
                        <li><a href="#组间差异分析" class="cs-navi-tab">组间差异分析</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>