
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1 class="big_h1 text-center">
                {% if amplification=="16S" %}
                 16S rDNA Amplicon测序
                {% else %}
                 ITS Amplicon测序
                {% endif %}
            </h1>
            <h1 class="big_h1 text-center">
                结题报告
            </h1>
            <div class="blank-600"></div>
            <p class="text-center">
                客户：{{ project['customer_name'] }}
            </p>
            <p class="text-center">
                项目编号：{{ project['project_num'] }}
            </p>
            <div class="blank-400"></div>
            <h2 class="text-center">
                上海锐翌生物科技有限公司
            </h2>
            <p class="text-center">
                {{ time }}
            </p>
        </div>
    </div>
</div>

