<h1>备注</h1>
<p class="paragraph">RESULTS</p>
<p class="paragraph">├─04_data_statistics						[Reads]</p>
<p class="paragraph">│  │  length_distrubution.pdf					[reads长度]</p>
<p class="paragraph">│  │  length_distrubution.png					[reads长度]</p>
<p class="paragraph">│  │  length_distrubution.tsv					[reads长度统计数据]</p>
<p class="paragraph">│  │  pick_otu_summary.tsv					[reads长度]</p>
<p class="paragraph">│  │  </p>
<p class="paragraph">│  └─alpha								</p>
<p class="paragraph">│          chao1.pdf						[Alpha多样性chao1指数]</p>
<p class="paragraph">│          chao1.png						[chao1指数]</p>
<p class="paragraph">│          chao1.txt						[chao1指数的数据]</p>
<p class="paragraph">│          observed_species.pdf					[observed_species指数]</p>
<p class="paragraph">│          observed_species.png					[observed_species指数]</p>
<p class="paragraph">│          observed_species.txt					[observed_species指数的数据]</p>
<p class="paragraph">│          </p>
<p class="paragraph">├─05_OTU_analysis						[OTU分析]</p>
<p class="paragraph">│  ├─all							[所有]</p>
<p class="paragraph">│  │  │  otu_downsize_stat.tsv				[OTU抽平结果]</p>
<p class="paragraph">│  │  │  otu_statistic.tsv					[OTU统计]</p>
<p class="paragraph">│  │  │  otu_table.tsv					[OTU丰度表]</p>
<p class="paragraph">│  │  │  profile_tree.tsv					[层次分类丰度表]</p>
<p class="paragraph">│  │  │  rep_set.fna						[OTU代表序列]</p>
<p class="paragraph">│  │  │  tax_assignment.tsv					[OTU注释文件]</p>
<p class="paragraph">│  │  │  </p>
<p class="paragraph">│  │  ├─specaccum						[物种累积曲线]</p>
<p class="paragraph">│  │  │      specaccum.pdf					</p>
<p class="paragraph">│  │  │      specaccum.png					</p>
<p class="paragraph">│  │  │      </p>
<p class="paragraph">│  │  └─wf_taxa_summary					[OTU注释到各个水平]</p>
<p class="paragraph">│  │          otu_table_L2.txt					[门水平]</p>
<p class="paragraph">│  │          otu_table_L3.txt					[纲水平]</p>
<p class="paragraph">│  │          otu_table_L4.txt					[目水平]</p>
<p class="paragraph">│  │          otu_table_L5.txt					[科水平]</p>
<p class="paragraph">│  │          otu_table_L6.txt					[属水平]</p>
<p class="paragraph">│  │          </p>
<p class="paragraph">│  └─group							[group分组一]</p>
<p class="paragraph">│      │  otu_downsize_stat.tsv				[OTU抽平结果]</p>
<p class="paragraph">│      │  otu_statistic.tsv					[OTU数量统计]</p>
<p class="paragraph">│      │  otu_table.tsv					[OTU丰度表]</p>
<p class="paragraph">│      │  profile_tree.tsv					[层次分类丰度表]</p>
<p class="paragraph">│      │  tax_assignment.tsv					[OTU注释文件]</p>
<p class="paragraph">│      │  </p>
<p class="paragraph">│      ├─core_otu						[共有OTU]</p>
<p class="paragraph">│      │      core_otu.pdf					[共有OTU]</p>
<p class="paragraph">│      │      core_otu.png					[共有OTU]</p>
<p class="paragraph">│      │      core_otu.txt					[共有OTU数据]</p>
<p class="paragraph">│      │      for_plot.txt					[画图数据]</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      ├─flower						[花瓣图]</p>
<p class="paragraph">│      │      for_plot.txt					[画图数据]</p>
<p class="paragraph">│      │      flower.png						</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      ├─otu_pca						[PCA图]</p>
<p class="paragraph">│      │      otu_pca.pdf					</p>
<p class="paragraph">│      │      otu_pca.png					</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      ├─venn							[维恩图]</p>
<p class="paragraph">│      │      for_plot.txt					</p>
<p class="paragraph">│      │      venn.png						</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      └─wf_taxa_summary					[OTU注释到各个水平]</p>
<p class="paragraph">│              otu_table_all.txt				[所有水平]</p>
<p class="paragraph">│              otu_table_L1.txt					[界水平]</p>
<p class="paragraph">│              otu_table_L2.txt					[门水平]</p>
<p class="paragraph">│              otu_table_L3.txt					[纲水平]</p>
<p class="paragraph">│              otu_table_L4.txt					[目水平]</p>
<p class="paragraph">│              otu_table_L5.txt					[科水平]</p>
<p class="paragraph">│              otu_table_L6.txt					[属水平]</p>
<p class="paragraph">│              </p>
<p class="paragraph">├─06_classification_abundance_analysis</p>
<p class="paragraph">│  ├─all							[所有]</p>
<p class="paragraph">│  │  │  krona.html						[注释结果可视化]</p>
<p class="paragraph">│  │  │  </p>
<p class="paragraph">│  │  ├─bar_plot						[物种注释柱状图]</p>
<p class="paragraph">│  │  │  ├─class						[纲水平]</p>
<p class="paragraph">│  │  │  │      bar_plot.pdf					[柱状图]</p>
<p class="paragraph">│  │  │  │      bar_plot.png</p>
<p class="paragraph">│  │  │  │      for_plot.txt					[画图数据]</p>
<p class="paragraph">│  │  │  │      </p>
<p class="paragraph">│  │  │  ├─family						[科水平]</p>
<p class="paragraph">│  │  │  │      bar_plot.pdf</p>
<p class="paragraph">│  │  │  │      bar_plot.png</p>
<p class="paragraph">│  │  │  │      for_plot.txt</p>
<p class="paragraph">│  │  │  │      </p>
<p class="paragraph">│  │  │  ├─genus						[属水平]</p>
<p class="paragraph">│  │  │  │      bar_plot.pdf</p>
<p class="paragraph">│  │  │  │      bar_plot.png</p>
<p class="paragraph">│  │  │  │      for_plot.txt</p>
<p class="paragraph">│  │  │  │      </p>
<p class="paragraph">│  │  │  ├─order						[目水平]</p>
<p class="paragraph">│  │  │  │      bar_plot.pdf</p>
<p class="paragraph">│  │  │  │      bar_plot.png</p>
<p class="paragraph">│  │  │  │      for_plot.txt</p>
<p class="paragraph">│  │  │  │      </p>
<p class="paragraph">│  │  │  └─phylum						[门水平]</p>
<p class="paragraph">│  │  │          bar_plot.pdf</p>
<p class="paragraph">│  │  │          bar_plot.png</p>
<p class="paragraph">│  │  │          for_plot.txt</p>
<p class="paragraph">│  │  │          </p>
<p class="paragraph">│  │  ├─rank_abundance					[rank_abundance曲线图]</p>
<p class="paragraph">│  │  │      rank_abundance.pdf</p>
<p class="paragraph">│  │  │      rank_abundance.png</p>
<p class="paragraph">│  │  │      </p>
<p class="paragraph">│  │  └─tax_star						[星形图]</p>
<p class="paragraph">│  │          for_star_plot.txt</p>
<p class="paragraph">│  │          tax_star.pdf</p>
<p class="paragraph">│  │          tax_star.png</p>
<p class="paragraph">│  │          </p>
<p class="paragraph">│  └─group							[分组1]</p>
<p class="paragraph">│      │  krona.html						[注释结果可视化]</p>
<p class="paragraph">│      │  </p>
<p class="paragraph">│      ├─bar_plot						[物种注释柱状图]</p>
<p class="paragraph">│      │  ├─class						[纲水平]</p>
<p class="paragraph">│      │  │      bar_plot.pdf					[柱状图]</p>
<p class="paragraph">│      │  │      bar_plot.png					[柱状图]</p>
<p class="paragraph">│      │  │      for_plot.txt					[画图数据]</p>
<p class="paragraph">│      │  │      </p>
<p class="paragraph">│      │  ├─family						[科水平]</p>
<p class="paragraph">│      │  │      bar_plot.pdf					[柱状图]</p>
<p class="paragraph">│      │  │      bar_plot.png</p>
<p class="paragraph">│      │  │      for_plot.txt</p>
<p class="paragraph">│      │  │      </p>
<p class="paragraph">│      │  ├─genus						[属水平]</p>
<p class="paragraph">│      │  │      bar_plot.pdf					[柱状图]</p>
<p class="paragraph">│      │  │      bar_plot.png</p>
<p class="paragraph">│      │  │      for_plot.txt</p>
<p class="paragraph">│      │  │      </p>
<p class="paragraph">│      │  ├─order						[目水平]</p>
<p class="paragraph">│      │  │      bar_plot.pdf					[柱状图]</p>
<p class="paragraph">│      │  │      bar_plot.png					</p>
<p class="paragraph">│      │  │      for_plot.txt</p>
<p class="paragraph">│      │  │      </p>
<p class="paragraph">│      │  └─phylum						[门水平]</p>
<p class="paragraph">│      │          bar_plot.pdf					[柱状图]</p>
<p class="paragraph">│      │          bar_plot.png</p>
<p class="paragraph">│      │          for_plot.txt</p>
<p class="paragraph">│      │          </p>
<p class="paragraph">│      ├─heatmap						[热图]</p>
<p class="paragraph">│      │      for_plot.txt					</p>
<p class="paragraph">│      │      heatmap.pdf					</p>
<p class="paragraph">│      │      heatmap.png					</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      ├─phylo_tree						[进化树]</p>
<p class="paragraph">│      │      tax_phylo.nwk</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      ├─tax_bar_tree						[物种聚类]</p>
<p class="paragraph">│      │      bar_tree.pdf</p>
<p class="paragraph">│      │      bar_tree.png</p>
<p class="paragraph">│      │      for_plot.txt</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      └─tax_tree						[物种分类树]</p>
<p class="paragraph">│              tax_ass_modified.txt</p>
<p class="paragraph">│              tax_tree.nwk</p>
<p class="paragraph">│              </p>
<p class="paragraph">├─07_Alpha_diversity						[alpha多样性]</p>
<p class="paragraph">│  ├─group							[分组一]</p>
<p class="paragraph">│  │  │  alpha_marker.tsv					[alpha显著差异marker]</p>
<p class="paragraph">│  │  │  alpha_statistic.tsv					[alpha多样性统计]</p>
<p class="paragraph">│  │  │  chao1.pdf						[chao1指数]</p>
<p class="paragraph">│  │  │  chao1.png						[]</p>
<p class="paragraph">│  │  │  chao1.txt						[]</p>
<p class="paragraph">│  │  │  goods_coverage.pdf					[goods_coverage指数]</p>
<p class="paragraph">│  │  │  goods_coverage.png					[]</p>
<p class="paragraph">│  │  │  goods_coverage.txt					[]</p>
<p class="paragraph">│  │  │  observed_species.pdf					[observed_species指数]</p>
<p class="paragraph">│  │  │  observed_species.png					[]</p>
<p class="paragraph">│  │  │  observed_species.txt					[]</p>
<p class="paragraph">│  │  │  PD_whole_tree.pdf					[PD_whole_tree指数]</p>
<p class="paragraph">│  │  │  PD_whole_tree.png					[]</p>
<p class="paragraph">│  │  │  PD_whole_tree.txt					[]</p>
<p class="paragraph">│  │  │  shannon.pdf						[shannon指数]</p>
<p class="paragraph">│  │  │  shannon.png						[]</p>
<p class="paragraph">│  │  │  shannon.txt						[]</p>
<p class="paragraph">│  │  │  simpson.pdf						[simpson指数]</p>
<p class="paragraph">│  │  │  simpson.png						[]</p>
<p class="paragraph">│  │  │  simpson.txt						[]</p>
<p class="paragraph">│  │  │  </p>
<p class="paragraph">│  │  └─box_plot						[盒型图]</p>
<p class="paragraph">│  │          chao1.boxplot.pdf				[chao1指数]</p>
<p class="paragraph">│  │          chao1.boxplot.png				[]</p>
<p class="paragraph">│  │          goods_coverage.boxplot.pdf			[goods_coverage指数]</p>
<p class="paragraph">│  │          goods_coverage.boxplot.png			[]</p>
<p class="paragraph">│  │          observed_species.boxplot.pdf			[observed_species指数]</p>
<p class="paragraph">│  │          observed_species.boxplot.png			[]</p>
<p class="paragraph">│  │          PD_whole_tree.boxplot.pdf			[PD_whole_tree指数]</p>
<p class="paragraph">│  │          PD_whole_tree.boxplot.png			[]</p>
<p class="paragraph">│  │          shannon.boxplot.pdf				[shannon指数]</p>
<p class="paragraph">│  │          shannon.boxplot.png				[]</p>
<p class="paragraph">│  │          simpson.boxplot.pdf				[simpson指数]</p>
<p class="paragraph">│  │          simpson.boxplot.png				[]</p>
<p class="paragraph">│  │          </p>
<p class="paragraph">│  └─total_alpha_rare						[总的alpha多样性]</p>
<p class="paragraph">│          alpha_statistic.tsv					[alpha多样性统计]</p>
<p class="paragraph">│          chao1.pdf						[chao1指数]</p>
<p class="paragraph">│          chao1.png						[]</p>
<p class="paragraph">│          chao1.txt						[]</p>
<p class="paragraph">│          goods_coverage.pdf					[goods_coverage指数]</p>
<p class="paragraph">│          goods_coverage.png					[]</p>
<p class="paragraph">│          goods_coverage.txt					[]</p>
<p class="paragraph">│          observed_species.pdf</p>
<p class="paragraph">│          observed_species.png					[observed_species指数]</p>
<p class="paragraph">│          observed_species.txt</p>
<p class="paragraph">│          PD_whole_tree.pdf</p>
<p class="paragraph">│          PD_whole_tree.png					[PD_whole_tree指数]</p>
<p class="paragraph">│          PD_whole_tree.txt</p>
<p class="paragraph">│          shannon.pdf</p>
<p class="paragraph">│          shannon.png						[shannon指数]</p>
<p class="paragraph">│          shannon.txt		</p>
<p class="paragraph">│          simpson.pdf</p>
<p class="paragraph">│          simpson.png						[simpson指数]</p>
<p class="paragraph">│          simpson.txt</p>
<p class="paragraph">│          </p>
<p class="paragraph">├─08_Beta_diversity						[beta多样性]</p>
<p class="paragraph">│  └─group							[分组一]	</p>
<p class="paragraph">│      │  unweighted_unifrac_otu_table.tsv			[未加权unifranc距离表]</p>
<p class="paragraph">│      │  weighted_unifrac_otu_table.tsv			[加权unifrac距离表]</p>
<p class="paragraph">│      │  </p>
<p class="paragraph">│      ├─anosim						[anosim结果]</p>
<p class="paragraph">│      │      unweighted_unifrac.anosim.pdf			</p>
<p class="paragraph">│      │      unweighted_unifrac.anosim.png</p>
<p class="paragraph">│      │      weighted_unifrac.anosim.pdf</p>
<p class="paragraph">│      │      weighted_unifrac.anosim.png</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      ├─cluster						[聚类结果]</p>
<p class="paragraph">│      │      mapfile.txt</p>
<p class="paragraph">│      │      unweighted_unifrac_cluster.pdf</p>
<p class="paragraph">│      │      unweighted_unifrac_cluster.png</p>
<p class="paragraph">│      │      unweighted_unifrac_otu_table.txt</p>
<p class="paragraph">│      │      weighted_unifrac_cluster.pdf</p>
<p class="paragraph">│      │      weighted_unifrac_cluster.png</p>
<p class="paragraph">│      │      weighted_unifrac_otu_table.txt</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      ├─heatmap						[热图]</p>
<p class="paragraph">│      │      unweighted_unifrac.heatmap.pdf</p>
<p class="paragraph">│      │      unweighted_unifrac.heatmap.png</p>
<p class="paragraph">│      │      weighted_unifrac.heatmap.pdf</p>
<p class="paragraph">│      │      weighted_unifrac.heatmap.png</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      ├─nmds							[nmds结果]</p>
<p class="paragraph">│      │      unweighted_unifrac.nmds.pdf</p>
<p class="paragraph">│      │      unweighted_unifrac.nmds.png</p>
<p class="paragraph">│      │      weighted_unifrac.nmds.pdf</p>
<p class="paragraph">│      │      weighted_unifrac.nmds.png</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      └─pcoa							[pcoa结果]</p>
<p class="paragraph">│              unweighted_unifrac.pcoa.pdf</p>
<p class="paragraph">│              unweighted_unifrac.pcoa.png</p>
<p class="paragraph">│              weighted_unifrac.pcoa.pdf</p>
<p class="paragraph">│              weighted_unifrac.pcoa.png</p>
<p class="paragraph">│              </p>
<p class="paragraph">└─09_diff_analysis						[差异分析]</p>
<p class="paragraph">    └─group							[分组一]</p>
<p class="paragraph">        ├─genus_diff						[属水平差异]</p>
<p class="paragraph">        │  │  genus_diff.marker.filt.tsv			[过滤后的差异maker]</p>
<p class="paragraph">        │  │  genus_diff.marker.tsv				[差异maker]</p>
<p class="paragraph">        │  │  </p>
<p class="paragraph">        │  ├─boxplot						[盒型图]</p>
<p class="paragraph">        │  │      diff_boxplot.for_plot_top_20.txt		[]</p>
<p class="paragraph">        │  │      diff_boxplot.pdf				[]</p>
<p class="paragraph">        │  │      diff_boxplot.png				[]</p>
<p class="paragraph">        │  │      </p>
<p class="paragraph">        │  ├─heatmap						[热图]</p>
<p class="paragraph">        │  │      heatmap.pdf</p>
<p class="paragraph">        │  │      heatmap.png</p>
<p class="paragraph">        │  │      </p>
<p class="paragraph">        │  └─pca						[pca图]</p>
<p class="paragraph">        │          diff_pca.pdf</p>
<p class="paragraph">        │          diff_pca.png</p>
<p class="paragraph">        │          </p>
<p class="paragraph">        ├─LEfSe						[lEfSe结果]</p>
<p class="paragraph">        │      LDA.cladogram.pdf</p>
<p class="paragraph">        │      LDA.cladogram.png</p>
<p class="paragraph">        │      LDA.pdf</p>
<p class="paragraph">        │      LDA.png</p>
<p class="paragraph">        │      otu_table_for_lefse.txt</p>
<p class="paragraph">        │      </p>
<p class="paragraph">        ├─otu_diff						[OTU水平差异]</p>
<p class="paragraph">        │  │  otu_diff.marker.filt.tsv</p>
<p class="paragraph">        │  │  otu_diff.marker.tsv</p>
<p class="paragraph">        │  │  </p>
<p class="paragraph">        │  ├─boxplot						[盒型图]</p>
<p class="paragraph">        │  │      diff_boxplot.for_plot_top_20.txt</p>
<p class="paragraph">        │  │      diff_boxplot.pdf</p>
<p class="paragraph">        │  │      diff_boxplot.png</p>
<p class="paragraph">        │  │      </p>
<p class="paragraph">        │  ├─heatmap						[热图]</p>
<p class="paragraph">        │  │      heatmap.pdf</p>
<p class="paragraph">        │  │      heatmap.png</p>
<p class="paragraph">        │  │      </p>
<p class="paragraph">        │  └─pca						[pca图]</p>
<p class="paragraph">        │          diff_pca.pdf</p>
<p class="paragraph">        │          diff_pca.png</p>
<p class="paragraph">        │          </p>
<p class="paragraph">        └─taxall_diff						[所有水平的差异]</p>
<p class="paragraph">            │  taxall_diff.marker.filt.tsv</p>
<p class="paragraph">            │  taxall_diff.marker.tsv</p>
<p class="paragraph">            │  </p>
<p class="paragraph">            ├─boxplot						[盒型图]</p>
<p class="paragraph">            │      diff_boxplot.for_plot_top_20.txt</p>
<p class="paragraph">            │      diff_boxplot.pdf</p>
<p class="paragraph">            │      diff_boxplot.png</p>
<p class="paragraph">            │      </p>
<p class="paragraph">            ├─heatmap						[热图]</p>
<p class="paragraph">            │      heatmap.pdf</p>
<p class="paragraph">            │      heatmap.png</p>
<p class="paragraph">            │      </p>
<p class="paragraph">            └─pca						[pca图]</p>
<p class="paragraph">                    diff_pca.pdf</p>
<p class="paragraph">                    diff_pca.png</p>

                    

<h1>参考文献</h1>
<p class="paragraph">[1] Andre P Masella, Andrea K Bartram, Jakub M Truszkowski, Daniel G Brown and Josh D Neufeld. PANDAseq: paired-end assembler for illumina sequences. BMC Bioinformatics 2012, 13:31.</p>
<p class="paragraph">[2] Edgar, R.C. (2013) UPARSE: Highly accurate OTU sequences from microbial amplicon reads, Nature Methods.</p>
<p class="paragraph">[4] Paul FK, Josephine Y A. (2004). Bacterial diversity in aquatic and other environments:what 16S rDNA libraries can tell us. FEMS Microbiol.Ecol 47:161-177.</p>
<p class="paragraph">[5] Lundberg, Derek S., et al. Practical innovations for high-throughput amplicon sequencing.Nature methods 10.10 (2013): 999-1002.</p>
<p class="paragraph">[6] Segata, N., Izard, J., Waldron, L., Gevers, D., Miropolsky, L., Garrett, W.S., and Huttenhower, C. (2011). Metagenomic biomarker discovery and explanation. Genome Biol. 12, R60.</p>
<p class="paragraph">[7] Conservative Fragments in Bacterial 16S rRNA Genes and Primer Design for 16S Ribosomal DNA Amplicons in Metagenomic Studies. PLoS One. 2009 Oct 9;4(10):e7401</p>
<p class="paragraph">[8] ITS as an environmental DNA barcode for fungi: an in silico approach reveals potential PCR biases. BMC Microbiology 2010, 10:189</p>