<h1 id="个性化分析">十、个性化分析</h1>

{% if personalize.cca_rda %}
<h3 id="物种CCA/RDA分析">10.1 物种CCA/RDA分析</h3>
	<p class="paragraph">典型对应分析(CCA)是基于对应发展的一种排序方法，将对应分析与多元回归分析相结合，每一步计算均与环境因子进行回归，又称多元直接梯度分析。主要用来反映菌群与环境因子之间的关系。RDA是基于线性模型，CCA是基于单峰模型。分析可以检测环境因子、样品、菌群三者之间的关系或者两两之间的关系。
	</p>
    <p class="center">
        <img class="size1" src="images/group/rda.png" alt="First slide">
    </p>
    <p class="name_fig"> 图10-1-1 RDA图</p>
    <p class="premark">注：箭头代表不同的环境因子，射线越长表示该环境因子影响越大。环境因子之间的夹角为锐角时表示两个环境因子之间呈正相关关系，钝角时呈负相关关系。环境因子的射线越长，说明该影响因子的影响程度越大。</p>
{% endif %}


{% if personalize.STAMP %}
<h3 id="STAMP分析">10.2 STAMP分析</h3>
    <p class="paragraph">STAMP 差异分析用于比较两个样品或者两组样品之间物种的丰度，通过此分析可获得显著性差异物种以及该物种更趋向何种环境条件下的样品。</p>
    <p class="center">
        <img class="size1" src="images/group/taxall_diff/diff_boxplot.png" alt="second slide">
    </p>
{% endif %}



{% if personalize.network %}
<h3 id="16S功能预测">10.3 16S功能预测</h3>
	<p class="paragraph">16s序列能够区分菌的种属，但是并不包含这些菌的基因和代谢功能的信息。不过由于我们已经对大量的细菌基因组进行了测序，所以可以根据16s的菌种信息，利用这个菌属已经测序的细菌基因组的基因信息和代谢功能信息来估计每类基因的上限和下限。因此可以利用16s序列测序来预测菌群的功能基因分布和代谢途径分布情况。</p>
{% endif %}




{% if personalize.annotation %}
<h3 id="Network网络分析">10.4 Network网络分析</h3>
	<p class="paragraph">网络分析（network analysis）是关于网络的图论分析、最优化分析以及动力学分析的总称。</p>
{% endif %]}