<h1 id="OTU分析">五、OTU分析</h1>
    {% if otu_statistical %}
        <h3 id="OTU聚类">5.1 OTU聚类</h3>
        <p class="paragraph">
        首先我们将序列完全一样的Clean Reads根据其丰度大小进行排序，将其中的Singletons过滤掉，
        （因为Singletons可能由于测序错误造成，故将这部分序列去除，不进行后期OTU聚类），
        利用Usearch在0.97相似度下进行聚类，对聚类后的序列进行嵌合体过滤后，得到用于物种分类的OTU(Operational Taxonomic Units)，
        最后将所有Clean Reads比对到OTU序列上，将能比对上OTU的Reads提取出来，得到最终的Mapped Reads。
        统计各个样品每个OTU中的丰度信息，OTU的丰度初步说明了样品的物种丰富程度。</p>
        <p class="paragraph">{{ sample_sum }}个样品共产生{{ otu_sum }}个OTU。</p>

        <p class="paragraph">软件平台：usearch</p>
        <p class="paragraph">结果目录：
        <a href="javascript:void(0)" onClick="StartExcel('..\\results\\04_data_statistics\\pick_otu_summary.tsv')" target="_blank">
            pick_otu_summary.tsv
        </a></p>
        <p class="name_table">表5-1-1 样品数据和OTU统计</p>
        <table id="table1" data-height="413"></table>
        <p class="tremark">注:第一列Sample Name是样品名称；</p>
        <p class="tremark"> 第二列Amplicon Type是指明测序是16S或者ITS；</p>
        <p class="tremark"> 第三列Clean Read是质控后的Reads条数；</p>
        <p class="tremark">第六列Mapped Reads是比对上OTU的Reads占Clean Reads的数量；</p>
        <p class="tremark"> 第七列Mapped Reads(%)是比对上OTU的Reads占Clean Reads的比例；</p>
        <p class="tremark">  第八列OTUs是样品所含有的OTU个数。</p>

        
    {% endif %}






    {% if downsize_html %}
        <h3 id="抽平处理">5.2 抽平处理</h3>
        <p class="paragraph">
            不同样本对应的Reads数量差距较大，为避免因样品数据大小不同而造成分析时的偏差，我们在样品达到足够的测序深度的情况下，对每个样品进行随机抽平处理。测序深度用Alpha多样性指数来衡量。抽平的参数必须在保证测序深度足够的前提下去选取。
        </p>
        <p class="paragraph">
           observed_species指数表示实际观测到的OTU数量，chao1指数用来估计样品所含OTU的总数，其公式为：
        </p>
        <p class="center">
            <img src="images2/formula_chao1.png">
        </p>
        <p class="premark">Schao1：估计的OTU数量；</p>
        <p class="premark">Sobs：实际观察到的OTU数量；</p>
        <p class="premark">n1：只含一条OTU的数量；</p>
        <p class="premark">n2：只含两条OTU的数量；</p>
        <p class="premark">软件平台：锐翌分析平台</p>
        <p class="premark">结果目录：<a href="javascript:void(0)" onClick="StartExcel('..\\results\\05_OTU_analysis\\all\\otu_downsize_stat.tsv')" target="_blank">
                    抽平后样品OTU统计
                </a></p>
        <p class="paragraph">根据Alpha多样性分析，兼顾测序饱和度和样品完整性，我们对每个样品随机抽取28012条reads。抽平后的样品OTU统计见OTU_downsize_stat.tsv中的样品抽平OTU统计表单，结果如下：</p>
        <p class="name_table">
            表5-2-1 抽平后样品OTU统计
        </p>
        <div class="center_table">
            <div id="toolbar2" class="pull-left-self">
                <select class="form-control">
                    <option value="">Export Basic</option>
                    <option value="all">Export All</option>
                    <option value="selected">Export Selected</option>
                </select>
            </div>
            <table id="table2" data-height="560" data-pagination="true" data-filter-control="true"
                   data-show-export="true" data-page-list="[10, 25, 50, 100, 200, All]">
            </table>
        </div>
        <p class="tremark">注：第一列Sample Name是样品名称;</p>
        <p class="tremark">第二列Downsize是抽平数量;</p>
        <p class="tremark">第三列otu_berfore抽平前的OTU个数;</p>
        <p class="tremark">第三列otus_after是抽平后样品所含有的OTU个数。</p>
        <p class="paragraph">Alpha多样性反映的是单个样品内部的物种多样性，包括observed species指数和chao指数。</p>


        <p class="center">
            <img class="size1" src="images/alpha/chao1.png"/>
            <img class="size1" src="images/alpha/observed_species.png"/>
        </p>
        <p class="name_fig">图5-2-1 表示样品物种丰富度Alpha多样性指数稀释曲线图</p>

        <p class="premark">
           注：横轴表示从某个样品中随机抽取的Clean Reads数目，纵轴表示该Reads数目对应的Alpha多样性指数的大小。图中一条曲线代表一个样品，随着测序深度的增加，当曲线趋于平缓时表示此时的测序数据量比较合理。
        </p>
    {% endif %}






    {% if core_microbiome_html %}
        <h3 id="Core microbiome分析">5.3 Core microbiome分析（总样品数>=5）</h3>
        {% if core_otu_exists %}
            <p class="paragraph">根据样品的共有OTU以及OTU所代表的物种，可以找到Core microbiome（覆盖100%样品的微生物组）。</p>
            <p class="paragraph">软件平台：锐翌分析平台</p>
            <p class="paragraph">结果目录：<a href="javascript:void(0)" onClick="StartExcel('..\\results\\\05_OTU_analysis\\{{ group_file }}\\core_otu\\core_otu.tsv')" target="_blank"> 核心OTU列表 </a></p>
            <p class="name_table">
                表5-3-1 Core microbiome OTU列表
            </p>
            <div class="center_table">
                <div id="toolbar3" class="pull-left-self">
                    <select class="form-control">
                        <option value="">Export Basic</option>
                        <option value="all">Export All</option>
                        <option value="selected">Export Selected</option>
                    </select>
                </div>
                <table id="table3" data-height="560" data-pagination="true" data-filter-control="true"
                       data-show-export="true" data-page-list="[10, 25, 50, 100, 200, All]">
                </table>
            </div> 
            <p class="tremark">   注：</p>
            <p class="tremark">    第一列OTU ID是OTU名称；</p>
            <p class="tremark">    第二列Taxonomy Level是OTU所代表的物种所在的分类水平；</p></p>
            <p class="tremark">    第三列Taxonomy Name是OTU所代表的物种名称。</p>
            <p class="center">
                共有OTU数与样品的关系
            </p>
            <p class="center">
                <img class="size1" src="images/group/core_otu.png"/>
            </p>
            <p class="name_fig">
                图5-3-1 共有OTU数与样品的关系
            </p>
            <p class="premark">
                注：横坐标是覆盖样品的比例，纵坐标是统计的覆盖大于此比例样品的OTU的数目。图中表示的是覆盖一定比例以上样品的OTU的数目。
            </p>
        {% else %}
            <p class="error"> 未找到Core Microbiome </p>
        {% endif %}
    {% else %}
        <h3 id="Core microbiome分析">5.3 Core microbiome分析（总样品数>=5）</h3>
        <p class="error">样品数不足无法分析</p>
    {% endif %}




    {% if otu_venn %}
        <h3 id="OTU Venn图分析">5.4 OTU Venn图分析(分组数量2~5组)</h3>
        <p class="paragraph">根据每个样品的OTU在每个样品的丰度，计算出每个样品或组间共有和特有的OTU，Venn图可以很好的反应组间共有以及组内特有的OTU数目。</p>
        <p class="paragraph">软件平台：R语言/Perl SVG</p>
        
        {% if otu_flower %}
        <p class="paragraph">结果目录：<a href="javascript:void(0)" onClick="StartExcel('..\\results\\\05_OTU_analysis\\{{ group_file }}\\venn')" target="_blank"> flower图 </a></p>
        <p class="center">
            <img class="size1" src="images/group/flower.png"/>
        </p>
        <p class="name_fig">图5-4-1 OTU flower图</p>
        {% else %}
        <p class="paragraph">结果目录：<a href="javascript:void(0)" onClick="StartExcel('..\\results\\\05_OTU_analysis\\{{ group_file }}\\venn')" target="_blank"> venn图 </a></p>
        <p class="center">
            <img class="size1" src="images/group/venn.png"/>
        </p>
        <p class="name_fig">图5-4-1 OTU venn图（2-5组）</p>
        {% endif %}

        
        <p class="premark">
            注：不同颜色图形代表不同样品或者不同组别，不同颜色图形之间交叠部分数字为两个样品或两个组别之间共有的OTU个数。同理，多个颜色图形之间交叠部分数字为多个样品或组别之间共有OTU个数；Venn图，分组数量：2-5个组；花瓣图分组数量6-10个组。</p>

    {% else %}
        <h3 id="OTU Venn图分析">5.4 OTU Venn图分析(分组数量2~5组)</h3>
        <p class="error">样品数不足无法分析</p>
    {% endif %}





{% block otu_pca_head %}
    {% if otu_pca %}
        <h3 id="OTU PCA分析">5.5 OTU PCA分析（总样品数>=5）</h3>
        <p class="paragraph">PCA分析(Principal Component
            Analysis)，即主成分分析，是一种分析和简化数据集的技术。不同处理或不同环境间的样品可能表现出分散和聚集的分布情况，从而可以判断相同条件的样品组成是否具有相似性。</p>
        <p class="paragraph">软件平台：R语言</p>
        <p class="paragraph">结果目录：<a href="javascript:void(0)" onClick="StartExcel('..\\results\\\05_OTU_analysis\\{{ group_file }}\\otu_pca')" target="_blank"> PCA图 </a></p>
        <p class="center">
            <img class="size2" src="images/group/otu_pca.png"/>
        </p>
        <p class="name_fig">图5-5-1 基于OTU丰度的PCA分析</p>
        <p class="premark">
        注：横坐标表示第一主成分，括号中的百分比则表示第一主成分对样品差异的贡献率；纵坐标表示第二主成分，括号中的百分比表示第二主成分对样品差异的贡献率。图中点分别表示各个样品。不同颜色代表样品属于不同的分组。</p>
    {% else %}
        <h3 id="OTU PCA分析">5.5 OTU PCA分析（总样品数>=5）</h3>
        <p class="error">样品数不足无法分析</p>
    {% endif %}
{% endblock %}



{% block specaccum_head %}
    {% if specaccum %}
        <h3 id="Specaccum物种累积曲线">5.6 Specaccum物种累积曲线（总样品数>=10）</h3>
        <p class="paragraph">物种累积曲线(Species Accumulation Curves)用于描述随着抽样量的加大物种增加的状况，是理解调查样地物种组成和预测物种丰富度的有效工具。在生物多样性和群落调查中，被广泛用于抽样量充分性的判断以及物种丰富度(Species Richness)的估计。</p>
        <p class="paragraph">利用物种累积曲线判断抽样量是否充分是根据曲线的特征来判断：如果曲线一直急剧上升，几乎为直线，表明抽样量不足，需要增加抽样量; 如果曲线在急剧上升后变为上升舒缓，则表明抽样充分。</p>
        <p class="paragraph">软件平台：R语言specaccum包</p>
        <p class="paragraph">结果目录：<a href="javascript:void(0)" onClick="StartExcel('..\\results\\\05_OTU_analysis\\all\\specaccum')" target="_blank"> specaccum图 </a></p>
        <p class="center">
            <img class="size2" src="images/specaccum.png"/>
        </p>
        <p class="name_fig">
            图5-6-1 物种累积曲线
        </p>
        <p class="premark">
            注：横坐标是样品的数量，纵坐标是OTUs的数量。由物种累积曲线可以判断抽样量是否充分，在抽样量充分的前提下，运用物种累积曲线还可以对物种丰富度进行预测。
        </p>
    {% else %}
        <h3 id="Specaccum物种累积曲线">5.6 Specaccum物种累积曲线（总样品数>=10）</h3>
        <p class="error">样品数不足无法分析</p>
    {% endif %}
{% endblock %}
