<h2 id="物种热图分析">6.5 物种热图分析（总样品数≥5）</h2>
{% if otu_heatmap %}
    <p class="paragraph">
        Heatmap是以颜色梯度来代表数据矩阵中数值的大小，并能根据物种或样品丰度相似性进行聚类的一种图形展示方式。
        聚类结果加上样品的处理或取样环境分组信息，可以直观地观察到相同处理或相似环境样品的聚类情况，并直接反映了样品的群落组成的相似性和差异性。
        本分析内容分别在门，纲，目，科，属分类水平进行Heatmap聚类分析。
        纵向聚类表示所有物种在不同样品间表达的相似情况，距离越近，枝长越短，说明样品的物种组成及丰度越相似。横向聚类表示该物种在各样品丰度相似情况，
        与纵向聚类一样，距离越近，枝长越短，说明两物种在各样品间的组成越相似<sup>[12]-[14]</sup>。
    </p>
    <p class="paragraph">软件平台：锐翌分析平台</p>
    <p class="paragraph">结果目录：<a href="javascript:void(0)" onClick="StartExcel('..\\results\\06_classification_abundance_analysis\\{{ group_file }}\\heatmap\\')" target="_blank"> 06_classification_abundance_analysis\heatmap\</a></p>
    <p class="center">
        <img class="size2" src="images/group/heatmap.png"/>
    </p>
    <p class="name_fig">图6-5-1 物种丰度热图</p>
    <p class="premark">
        注：横向聚类表示该物种在各样品的丰度相似情况，距离越近，枝长越短，说明两物种在各样品间的组成越相似。纵向聚类表示所有物种在不同样品间表达的相似情况，与横向聚类一样，距离越近，枝长越短，说明两样品的物种组成及丰度越相似。样品分组信息，图中前一行为样品分组信息，颜色与图列对应。        
    </p>
{% else %}
    <p class="error">样品数不足无法分析</p>
{% endif %}