{% extends "base.html" %}
{% block main %}
<!-- ###########################################顶部loge############################################# -->
{% include "pdf/includes/navigator.html" %}
<!-- #####################################################主要面板####################################### -->
<div class="main">
    <div class="page">
        {% block bustomer_info %}
            {% include 'incdlues/customer_info.html' %}
        {% endblock %}
    </div>
    <div class="page">
        <!-- 项目信息 -->
        {% block project_info%}
            {% include "includes/project_info.html" %}
        {% endblock %}
    </div>
        {% block experimental_process_head %}
            {% include 'pdf/includes/2_experimental_process.html' %}
        {% endblock %}

        {% block reads_statistic_head %}
            {% include 'pdf/analysis/4_reads_statistic.html' %}
        {% endblock %}

        {% block otu_Analysis_head %}
            {% include 'pdf/analysis/5_otu_Analysis.html' %}
        {% endblock %}

        {% block otu_tax_assignment_head %}
            {% include 'pdf/analysis/6_otu_tax_assignment.html' %}
        {% endblock %}

        {% block alpha_diversity_head %}
            {% include 'pdf/analysis/7_alpha_diversity.html' %}
        {% endblock %}


        {% block uniFra_analysis_head %}
            {% include 'pdf/analysis/8_beta_unifrac.html' %}
        {% endblock %}

        {% block diff_analysis_head %}
            {% include 'pdf/analysis/9_diff_analysis.html' %}
        {% endblock %}

        {% block personalize_head %}
            {% include "pdf/analysis/10_personalize.html" %}
        {% endblock %}

    <div region="south" border="false" class="cs-south">公司地址：上海市浦东新区浦三路3058号长青企业广场119室； 电话：021-51001612；
        邮箱：support@realbio.cn；
    </div>
</div>
<script type="text/javascript" src="js/table_pdf.js"></script>
{% endblock %}
