{% extends "base.html" %}

{% block bustomer_info %}
    {% include 'incdlues/customer_info.html' %}
{% endblock %}

{% block analysis_pipeline %}
    {% include 'includes/analysis_pipeline.html' %}
{% endblock %}

{% block reads_statistic_head %}
    {% include 'analysis/reads_statistic.html' %}
{% endblock %}

{% block otu_statistic_head %}
    {% include 'analysis/otu_statistic.html' %}
{% endblock %}

{% block downsize_head %}
    {% include 'analysis/downsize.html' %}
{% endblock %}

{% block core_microbiome_head %}
    {% include 'analysis/core_microbiome.html' %}
{% endblock %}

{% block otu_venn_head %}
    {% include 'analysis/otu_venn.html' %}
{% endblock %}

{% block otu_pca_head %}
    {% include 'analysis/otu_pca.html' %}
{% endblock %}

{% block specaccum_head %}
    {% include 'analysis/specaccum.html' %}
{% endblock %}

{% block otu_tax_assignments_head %}
    {% include 'analysis/otu_tax_assignment.html' %}
{% endblock %}

{% block otu_annotation_statistical_head %}
    {% include 'analysis/annotation_statistic.html' %}
{% endblock %}

{% block tax_summary_head %}
    {% include 'analysis/tax_summary.html' %}
{% endblock %}

{% block otu_heatmap_head %}
    {% include 'analysis/otu_heatmap.html' %}
{% endblock %}

{% block rank_abundance_head %}
    {% include 'analysis/rank_abundance.html' %}
{% endblock %}

{% block otu_krona_head %}
    {% include 'analysis/otu_krona.html' %}
{% endblock %}

{% block phylogenetic_tree_head %}
    {% include 'analysis/phylogenetic_tree.html' %}
{% endblock %}

{% block alpha_diversity_head %}
    {% include 'analysis/alpha_diversity.html' %}
{% endblock %}

{% block alpha_diff_head %}
    {% include 'analysis/alpha_diff.html' %}
{% endblock %}

{% block uniFra_analysis_head %}
    {% include 'analysis/beta_unifrac.html' %}
{% endblock %}

{% block diff_analysis_head %}
    {% include 'analysis/diff_analysis.html' %}
{% endblock %} 
