{% if reads_statistical %}
    <div class="page">
        <h1 id="测序数据统计">四、测序数据统计</h1>
        <h3 id="数据格式说明">4.1 数据格式说明</h3>        
        <p class="paragraph">    Paired-end 测序，*_1.fq 和*_2.fq 分别对应一个FASTQ 文件。FASTQ 文件是用户得到的最原始文件，其中每4 行表示一条read，即：</p>
        <p class="paragraph">    @FC4290FAAXX:4:1:3:84#CAGATC/1</p>
        <p class="paragraph">    CCAACTATGATAGCCAANAAGGGAAAGCCATAGAG…</p>
        <p class="paragraph">    +</p>
        <p class="paragraph">    abb_aab_aa`a^aba^D[`a_`aaaa`_a_`__a…</p>
        <p class="paragraph">   每个序列共有4 行，</p>
        <p class="paragraph">   第1行是@序列ID，包括index 序列及read1 或read2 标志，由测序仪产生；</p>
        <p class="paragraph">    第2行是碱基序列，大写“ACTGN”；第三行是“+”，省略了序列ID；</p>
        <p class="paragraph">    第3行是一个 + 号；</p>
        <p class="paragraph">    第4行是序列对应的测序质量值序列，每个字母对应第2 行每个碱基，第四行每个字母对应的ASCII 值减去33，即为该碱基的测序质量值;</p>
        <p class="paragraph">    比如I 对应的ASCII 十进制值为73，那么其对应的碱基质量值是40。Solexa碱基质量值范围为0 到41。</p>        


             

        <h3 id="有效数据统计">4.2 有效数据统计</h3>
        <p class="paragraph">通过Illumina平台进行Paired-End测序，Paired End Reads通过Reads之间的Overlap关系拼接成长Reads，并对拼接后的Reads进行质控，得到Clean Reads。</p>
        <p class="paragraph">软件平台：拼接: Pandaseq<sup>[1]</sup> ；质控：锐翌分析平台</p>
        <p class="paragraph">结果文件：<a href="javascript:void(0)"
                   onClick="StartExcel('..\\results\\04_data_statistics\\reads_stat.tsv')">
                    04_data_statistics/reads_stat.tsv
                </a></p>；</p>
        <p class="paragraph">    3）Reads长度范围为220~500 nt。</p>
        
        <p class="name_table">表4-2-1 有效序列统计</p>
        {% block table12 %}
        {% endblock %}
        <!-- <table id="table12" data-height="413"></table> -->
        <p class="tremark">注：第一列Sample name 是样品名称</p>
        <p class="tremark">第二列Clean Reads是有效序列数</p>
        <p class="tremark">第三列Bases(bp) 是总碱基数</p>
        <p class="tremark">第四列 Q20 (%) 是Q20碱基占总碱基数的百分比</p>
        <p class="tremark">第五列Q30 (%) 是Q30碱基占总碱基数的百分比</p>
        <p class="tremark">第六列)GC (%) 是该样品的GC含量</p>
        <p class="tremark">第七列Average length(bp) 是指该样品的平均长度</p>
    </div>









    <div class="page">
        <h3 id="数据优化统计">4.3 数据优化统计</h3>
        {% if amplification=="16S" %}
        <p class="paragraph">对16S rDNA高变区测序序列进行测序，测序为V3-V4区；通过Pandaseq软件利用重叠关系将双末端测序得到的成对Reads拼接成一条序列，得到高变区的长Reads。然后使用内部撰写的程序对拼接后的Reads进行如下处理，获取Clean Reads：</p>
        {% elif amplification=="ITS" %}
        <p class="paragraph">对ITS2区进行测序；通过Pandaseq<sup>[1]</sup>软件利用重叠关系将双末端测序得到的成对Reads拼接成一条序列，得到高变区的长Reads。然后使用内部撰写的程序对拼接后的Reads进行如下处理，获取Clean Reads：</p>
        {% endif %}
        <p class="paragraph">1）去除平均质量值低于20的Reads；</p>
        <p class="paragraph">2）去除Reads含N的碱基数超过3个的Reads；</p>
        <p class="paragraph">3）Reads长度范围为220~500 nt。</p>
        <p class="paragraph">软件平台：锐翌分析平台</p>
        <p class="paragraph">结果文件：<a href="javascript:void(0)"
               onClick="StartExcel('..\\results\\04_data_statistics\\length_distrubution.tsv')" target="_blank">
                04_data_statistics/length_distrubution.tsv
            </a></p>
        <p class="name_table"> 表4-3-1 有效序列的长度分布</p>

        {% block table13 %}
        {% endblock %}

       
        <!-- <table id="table13" data-height="413"></table> -->
 
        <p class="tremark">    第一列length：碱基长度; </p>
        <p class="tremark">    第二列sequences: reads数量; </p>  
        <p class="tremark">   第三列Percent是占总序列的百分比。</p>
        <p class="center">
            <img class="size1" src="images/length_distrubution.png"/>
        </p>
        <p class="name_fig">
            图4-3-1 序列长度的统计
        </p>
        <p class="premark">
            注：横坐标是序列的长度，纵坐标是Reads的数量
        </p>


        <div class="blank-400"></div>



        
    </div>




{% endif %}
