<h1>备注：</h1>
<h1> 结果目录：</h1>
<p class="paragraph">RESULTS</p>
<p class="paragraph">├─04_data_statistics						[Reads]</p>
<p class="paragraph">│  │  length_distrubution.pdf					[reads长度]</p>
<p class="paragraph">│  │  length_distrubution.png					[reads长度]</p>
<p class="paragraph">│  │  length_distrubution.tsv					[reads长度统计数据]</p>
<p class="paragraph">│  │  pick_otu_summary.tsv					[reads长度]</p>
<p class="paragraph">│  │  </p>
<p class="paragraph">│  └─alpha								</p>
<p class="paragraph">│          chao1.pdf						[Alpha多样性chao1指数]</p>
<p class="paragraph">│          chao1.png						[chao1指数]</p>
<p class="paragraph">│          chao1.txt						[chao1指数的数据]</p>
<p class="paragraph">│          observed_species.pdf					[observed_species指数]</p>
<p class="paragraph">│          observed_species.png					[observed_species指数]</p>
<p class="paragraph">│          observed_species.txt					[observed_species指数的数据]</p>
<p class="paragraph">│          </p>
<p class="paragraph">├─05_OTU_analysis						[OTU分析]</p>
<p class="paragraph">│  ├─all							[所有]</p>
<p class="paragraph">│  │  │  otu_downsize_stat.tsv				[OTU抽平结果]</p>
<p class="paragraph">│  │  │  otu_statistic.tsv					[OTU统计]</p>
<p class="paragraph">│  │  │  otu_table.tsv					[OTU丰度表]</p>
<p class="paragraph">│  │  │  profile_tree.tsv					[层次分类丰度表]</p>
<p class="paragraph">│  │  │  rep_set.fna						[OTU代表序列]</p>
<p class="paragraph">│  │  │  tax_assignment.tsv					[OTU注释文件]</p>
<p class="paragraph">│  │  │  </p>
<p class="paragraph">│  │  ├─specaccum						[物种累积曲线]</p>
<p class="paragraph">│  │  │      specaccum.pdf					</p>
<p class="paragraph">│  │  │      specaccum.png					</p>
<p class="paragraph">│  │  │      </p>
<p class="paragraph">│  │  └─wf_taxa_summary					[OTU注释到各个水平]</p>
<p class="paragraph">│  │          otu_table_L2.txt					[门水平]</p>
<p class="paragraph">│  │          otu_table_L3.txt					[纲水平]</p>
<p class="paragraph">│  │          otu_table_L4.txt					[目水平]</p>
<p class="paragraph">│  │          otu_table_L5.txt					[科水平]</p>
<p class="paragraph">│  │          otu_table_L6.txt					[属水平]</p>
<p class="paragraph">│  │          </p>
<p class="paragraph">│  └─group							[group分组一]</p>
<p class="paragraph">│      │  otu_downsize_stat.tsv				[OTU抽平结果]</p>
<p class="paragraph">│      │  otu_statistic.tsv					[OTU数量统计]</p>
<p class="paragraph">│      │  otu_table.tsv					[OTU丰度表]</p>
<p class="paragraph">│      │  profile_tree.tsv					[层次分类丰度表]</p>
<p class="paragraph">│      │  tax_assignment.tsv					[OTU注释文件]</p>
<p class="paragraph">│      │  </p>
<p class="paragraph">│      ├─core_otu						[共有OTU]</p>
<p class="paragraph">│      │      core_otu.pdf					[共有OTU]</p>
<p class="paragraph">│      │      core_otu.png					[共有OTU]</p>
<p class="paragraph">│      │      core_otu.txt					[共有OTU数据]</p>
<p class="paragraph">│      │      for_plot.txt					[画图数据]</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      ├─flower						[花瓣图]</p>
<p class="paragraph">│      │      for_plot.txt					[画图数据]</p>
<p class="paragraph">│      │      flower.png						</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      ├─otu_pca						[PCA图]</p>
<p class="paragraph">│      │      otu_pca.pdf					</p>
<p class="paragraph">│      │      otu_pca.png					</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      ├─venn							[维恩图]</p>
<p class="paragraph">│      │      for_plot.txt					</p>
<p class="paragraph">│      │      venn.png						</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      └─wf_taxa_summary					[OTU注释到各个水平]</p>
<p class="paragraph">│              otu_table_all.txt				[所有水平]</p>
<p class="paragraph">│              otu_table_L1.txt					[界水平]</p>
<p class="paragraph">│              otu_table_L2.txt					[门水平]</p>
<p class="paragraph">│              otu_table_L3.txt					[纲水平]</p>
<p class="paragraph">│              otu_table_L4.txt					[目水平]</p>
<p class="paragraph">│              otu_table_L5.txt					[科水平]</p>
<p class="paragraph">│              otu_table_L6.txt					[属水平]</p>
<p class="paragraph">│              </p>
<p class="paragraph">├─06_classification_abundance_analysis</p>
<p class="paragraph">│  ├─all							[所有]</p>
<p class="paragraph">│  │  │  krona.html						[注释结果可视化]</p>
<p class="paragraph">│  │  │  </p>
<p class="paragraph">│  │  ├─bar_plot						[物种注释柱状图]</p>
<p class="paragraph">│  │  │  ├─class						[纲水平]</p>
<p class="paragraph">│  │  │  │      bar_plot.pdf					[柱状图]</p>
<p class="paragraph">│  │  │  │      bar_plot.png</p>
<p class="paragraph">│  │  │  │      for_plot.txt					[画图数据]</p>
<p class="paragraph">│  │  │  │      </p>
<p class="paragraph">│  │  │  ├─family						[科水平]</p>
<p class="paragraph">│  │  │  │      bar_plot.pdf</p>
<p class="paragraph">│  │  │  │      bar_plot.png</p>
<p class="paragraph">│  │  │  │      for_plot.txt</p>
<p class="paragraph">│  │  │  │      </p>
<p class="paragraph">│  │  │  ├─genus						[属水平]</p>
<p class="paragraph">│  │  │  │      bar_plot.pdf</p>
<p class="paragraph">│  │  │  │      bar_plot.png</p>
<p class="paragraph">│  │  │  │      for_plot.txt</p>
<p class="paragraph">│  │  │  │      </p>
<p class="paragraph">│  │  │  ├─order						[目水平]</p>
<p class="paragraph">│  │  │  │      bar_plot.pdf</p>
<p class="paragraph">│  │  │  │      bar_plot.png</p>
<p class="paragraph">│  │  │  │      for_plot.txt</p>
<p class="paragraph">│  │  │  │      </p>
<p class="paragraph">│  │  │  └─phylum						[门水平]</p>
<p class="paragraph">│  │  │          bar_plot.pdf</p>
<p class="paragraph">│  │  │          bar_plot.png</p>
<p class="paragraph">│  │  │          for_plot.txt</p>
<p class="paragraph">│  │  │          </p>
<p class="paragraph">│  │  ├─rank_abundance					[rank_abundance曲线图]</p>
<p class="paragraph">│  │  │      rank_abundance.pdf</p>
<p class="paragraph">│  │  │      rank_abundance.png</p>
<p class="paragraph">│  │  │      </p>
<p class="paragraph">│  │  └─tax_star						[星形图]</p>
<p class="paragraph">│  │          for_star_plot.txt</p>
<p class="paragraph">│  │          tax_star.pdf</p>
<p class="paragraph">│  │          tax_star.png</p>
<p class="paragraph">│  │          </p>
<p class="paragraph">│  └─group							[分组1]</p>
<p class="paragraph">│      │  krona.html						[注释结果可视化]</p>
<p class="paragraph">│      │  </p>
<p class="paragraph">│      ├─bar_plot						[物种注释柱状图]</p>
<p class="paragraph">│      │  ├─class						[纲水平]</p>
<p class="paragraph">│      │  │      bar_plot.pdf					[柱状图]</p>
<p class="paragraph">│      │  │      bar_plot.png					[柱状图]</p>
<p class="paragraph">│      │  │      for_plot.txt					[画图数据]</p>
<p class="paragraph">│      │  │      </p>
<p class="paragraph">│      │  ├─family						[科水平]</p>
<p class="paragraph">│      │  │      bar_plot.pdf					[柱状图]</p>
<p class="paragraph">│      │  │      bar_plot.png</p>
<p class="paragraph">│      │  │      for_plot.txt</p>
<p class="paragraph">│      │  │      </p>
<p class="paragraph">│      │  ├─genus						[属水平]</p>
<p class="paragraph">│      │  │      bar_plot.pdf					[柱状图]</p>
<p class="paragraph">│      │  │      bar_plot.png</p>
<p class="paragraph">│      │  │      for_plot.txt</p>
<p class="paragraph">│      │  │      </p>
<p class="paragraph">│      │  ├─order						[目水平]</p>
<p class="paragraph">│      │  │      bar_plot.pdf					[柱状图]</p>
<p class="paragraph">│      │  │      bar_plot.png					</p>
<p class="paragraph">│      │  │      for_plot.txt</p>
<p class="paragraph">│      │  │      </p>
<p class="paragraph">│      │  └─phylum						[门水平]</p>
<p class="paragraph">│      │          bar_plot.pdf					[柱状图]</p>
<p class="paragraph">│      │          bar_plot.png</p>
<p class="paragraph">│      │          for_plot.txt</p>
<p class="paragraph">│      │          </p>
<p class="paragraph">│      ├─heatmap						[热图]</p>
<p class="paragraph">│      │      for_plot.txt					</p>
<p class="paragraph">│      │      heatmap.pdf					</p>
<p class="paragraph">│      │      heatmap.png					</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      ├─phylo_tree						[进化树]</p>
<p class="paragraph">│      │      tax_phylo.nwk</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      ├─tax_bar_tree						[物种聚类]</p>
<p class="paragraph">│      │      bar_tree.pdf</p>
<p class="paragraph">│      │      bar_tree.png</p>
<p class="paragraph">│      │      for_plot.txt</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      └─tax_tree						[物种分类树]</p>
<p class="paragraph">│              tax_ass_modified.txt</p>
<p class="paragraph">│              tax_tree.nwk</p>
<p class="paragraph">│              </p>
<p class="paragraph">├─07_Alpha_diversity						[alpha多样性]</p>
<p class="paragraph">│  ├─group							[分组一]</p>
<p class="paragraph">│  │  │  alpha_marker.tsv					[alpha显著差异marker]</p>
<p class="paragraph">│  │  │  alpha_statistic.tsv					[alpha多样性统计]</p>
<p class="paragraph">│  │  │  chao1.pdf						[chao1指数]</p>
<p class="paragraph">│  │  │  chao1.png						[]</p>
<p class="paragraph">│  │  │  chao1.txt						[]</p>
<p class="paragraph">│  │  │  goods_coverage.pdf					[goods_coverage指数]</p>
<p class="paragraph">│  │  │  goods_coverage.png					[]</p>
<p class="paragraph">│  │  │  goods_coverage.txt					[]</p>
<p class="paragraph">│  │  │  observed_species.pdf					[observed_species指数]</p>
<p class="paragraph">│  │  │  observed_species.png					[]</p>
<p class="paragraph">│  │  │  observed_species.txt					[]</p>
<p class="paragraph">│  │  │  PD_whole_tree.pdf					[PD_whole_tree指数]</p>
<p class="paragraph">│  │  │  PD_whole_tree.png					[]</p>
<p class="paragraph">│  │  │  PD_whole_tree.txt					[]</p>
<p class="paragraph">│  │  │  shannon.pdf						[shannon指数]</p>
<p class="paragraph">│  │  │  shannon.png						[]</p>
<p class="paragraph">│  │  │  shannon.txt						[]</p>
<p class="paragraph">│  │  │  simpson.pdf						[simpson指数]</p>
<p class="paragraph">│  │  │  simpson.png						[]</p>
<p class="paragraph">│  │  │  simpson.txt						[]</p>
<p class="paragraph">│  │  │  </p>
<p class="paragraph">│  │  └─box_plot						[盒型图]</p>
<p class="paragraph">│  │          chao1.boxplot.pdf				[chao1指数]</p>
<p class="paragraph">│  │          chao1.boxplot.png				[]</p>
<p class="paragraph">│  │          goods_coverage.boxplot.pdf			[goods_coverage指数]</p>
<p class="paragraph">│  │          goods_coverage.boxplot.png			[]</p>
<p class="paragraph">│  │          observed_species.boxplot.pdf			[observed_species指数]</p>
<p class="paragraph">│  │          observed_species.boxplot.png			[]</p>
<p class="paragraph">│  │          PD_whole_tree.boxplot.pdf			[PD_whole_tree指数]</p>
<p class="paragraph">│  │          PD_whole_tree.boxplot.png			[]</p>
<p class="paragraph">│  │          shannon.boxplot.pdf				[shannon指数]</p>
<p class="paragraph">│  │          shannon.boxplot.png				[]</p>
<p class="paragraph">│  │          simpson.boxplot.pdf				[simpson指数]</p>
<p class="paragraph">│  │          simpson.boxplot.png				[]</p>
<p class="paragraph">│  │          </p>
<p class="paragraph">│  └─total_alpha_rare						[总的alpha多样性]</p>
<p class="paragraph">│          alpha_statistic.tsv					[alpha多样性统计]</p>
<p class="paragraph">│          chao1.pdf						[chao1指数]</p>
<p class="paragraph">│          chao1.png						[]</p>
<p class="paragraph">│          chao1.txt						[]</p>
<p class="paragraph">│          goods_coverage.pdf					[goods_coverage指数]</p>
<p class="paragraph">│          goods_coverage.png					[]</p>
<p class="paragraph">│          goods_coverage.txt					[]</p>
<p class="paragraph">│          observed_species.pdf</p>
<p class="paragraph">│          observed_species.png					[observed_species指数]</p>
<p class="paragraph">│          observed_species.txt</p>
<p class="paragraph">│          PD_whole_tree.pdf</p>
<p class="paragraph">│          PD_whole_tree.png					[PD_whole_tree指数]</p>
<p class="paragraph">│          PD_whole_tree.txt</p>
<p class="paragraph">│          shannon.pdf</p>
<p class="paragraph">│          shannon.png						[shannon指数]</p>
<p class="paragraph">│          shannon.txt		</p>
<p class="paragraph">│          simpson.pdf</p>
<p class="paragraph">│          simpson.png						[simpson指数]</p>
<p class="paragraph">│          simpson.txt</p>
<p class="paragraph">│          </p>
<p class="paragraph">├─08_Beta_diversity						[beta多样性]</p>
<p class="paragraph">│  └─group							[分组一]	</p>
<p class="paragraph">│      │  unweighted_unifrac_otu_table.tsv			[未加权unifranc距离表]</p>
<p class="paragraph">│      │  weighted_unifrac_otu_table.tsv			[加权unifrac距离表]</p>
<p class="paragraph">│      │  </p>
<p class="paragraph">│      ├─anosim						[anosim结果]</p>
<p class="paragraph">│      │      unweighted_unifrac.anosim.pdf			</p>
<p class="paragraph">│      │      unweighted_unifrac.anosim.png</p>
<p class="paragraph">│      │      weighted_unifrac.anosim.pdf</p>
<p class="paragraph">│      │      weighted_unifrac.anosim.png</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      ├─cluster						[聚类结果]</p>
<p class="paragraph">│      │      mapfile.txt</p>
<p class="paragraph">│      │      unweighted_unifrac_cluster.pdf</p>
<p class="paragraph">│      │      unweighted_unifrac_cluster.png</p>
<p class="paragraph">│      │      unweighted_unifrac_otu_table.txt</p>
<p class="paragraph">│      │      weighted_unifrac_cluster.pdf</p>
<p class="paragraph">│      │      weighted_unifrac_cluster.png</p>
<p class="paragraph">│      │      weighted_unifrac_otu_table.txt</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      ├─heatmap						[热图]</p>
<p class="paragraph">│      │      unweighted_unifrac.heatmap.pdf</p>
<p class="paragraph">│      │      unweighted_unifrac.heatmap.png</p>
<p class="paragraph">│      │      weighted_unifrac.heatmap.pdf</p>
<p class="paragraph">│      │      weighted_unifrac.heatmap.png</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      ├─nmds							[nmds结果]</p>
<p class="paragraph">│      │      unweighted_unifrac.nmds.pdf</p>
<p class="paragraph">│      │      unweighted_unifrac.nmds.png</p>
<p class="paragraph">│      │      weighted_unifrac.nmds.pdf</p>
<p class="paragraph">│      │      weighted_unifrac.nmds.png</p>
<p class="paragraph">│      │      </p>
<p class="paragraph">│      └─pcoa							[pcoa结果]</p>
<p class="paragraph">│              unweighted_unifrac.pcoa.pdf</p>
<p class="paragraph">│              unweighted_unifrac.pcoa.png</p>
<p class="paragraph">│              weighted_unifrac.pcoa.pdf</p>
<p class="paragraph">│              weighted_unifrac.pcoa.png</p>
<p class="paragraph">│              </p>
<p class="paragraph">└─09_diff_analysis						[差异分析]</p>
<p class="paragraph">    └─group							[分组一]</p>
<p class="paragraph">        ├─genus_diff						[属水平差异]</p>
<p class="paragraph">        │  │  genus_diff.marker.filt.tsv			[过滤后的差异maker]</p>
<p class="paragraph">        │  │  genus_diff.marker.tsv				[差异maker]</p>
<p class="paragraph">        │  │  </p>
<p class="paragraph">        │  ├─boxplot						[盒型图]</p>
<p class="paragraph">        │  │      diff_boxplot.for_plot_top_20.txt		[]</p>
<p class="paragraph">        │  │      diff_boxplot.pdf				[]</p>
<p class="paragraph">        │  │      diff_boxplot.png				[]</p>
<p class="paragraph">        │  │      </p>
<p class="paragraph">        │  ├─heatmap						[热图]</p>
<p class="paragraph">        │  │      heatmap.pdf</p>
<p class="paragraph">        │  │      heatmap.png</p>
<p class="paragraph">        │  │      </p>
<p class="paragraph">        │  └─pca						[pca图]</p>
<p class="paragraph">        │          diff_pca.pdf</p>
<p class="paragraph">        │          diff_pca.png</p>
<p class="paragraph">        │          </p>
<p class="paragraph">        ├─LEfSe						[lEfSe结果]</p>
<p class="paragraph">        │      LDA.cladogram.pdf</p>
<p class="paragraph">        │      LDA.cladogram.png</p>
<p class="paragraph">        │      LDA.pdf</p>
<p class="paragraph">        │      LDA.png</p>
<p class="paragraph">        │      otu_table_for_lefse.txt</p>
<p class="paragraph">        │      </p>
<p class="paragraph">        ├─otu_diff						[OTU水平差异]</p>
<p class="paragraph">        │  │  otu_diff.marker.filt.tsv</p>
<p class="paragraph">        │  │  otu_diff.marker.tsv</p>
<p class="paragraph">        │  │  </p>
<p class="paragraph">        │  ├─boxplot						[盒型图]</p>
<p class="paragraph">        │  │      diff_boxplot.for_plot_top_20.txt</p>
<p class="paragraph">        │  │      diff_boxplot.pdf</p>
<p class="paragraph">        │  │      diff_boxplot.png</p>
<p class="paragraph">        │  │      </p>
<p class="paragraph">        │  ├─heatmap						[热图]</p>
<p class="paragraph">        │  │      heatmap.pdf</p>
<p class="paragraph">        │  │      heatmap.png</p>
<p class="paragraph">        │  │      </p>
<p class="paragraph">        │  └─pca						[pca图]</p>
<p class="paragraph">        │          diff_pca.pdf</p>
<p class="paragraph">        │          diff_pca.png</p>
<p class="paragraph">        │          </p>
<p class="paragraph">        └─taxall_diff						[所有水平的差异]</p>
<p class="paragraph">            │  taxall_diff.marker.filt.tsv</p>
<p class="paragraph">            │  taxall_diff.marker.tsv</p>
<p class="paragraph">            │  </p>
<p class="paragraph">            ├─boxplot						[盒型图]</p>
<p class="paragraph">            │      diff_boxplot.for_plot_top_20.txt</p>
<p class="paragraph">            │      diff_boxplot.pdf</p>
<p class="paragraph">            │      diff_boxplot.png</p>
<p class="paragraph">            │      </p>
<p class="paragraph">            ├─heatmap						[热图]</p>
<p class="paragraph">            │      heatmap.pdf</p>
<p class="paragraph">            │      heatmap.png</p>
<p class="paragraph">            │      </p>
<p class="paragraph">            └─pca						[pca图]</p>
<p class="paragraph">                    diff_pca.pdf</p>
<p class="paragraph">                    diff_pca.png</p>

<h1>文件打开或浏览方法</h1>
<p class="paragraph">生物信息分析的相关文件均为Linux系统下的文件。Windows用户，一般文本文件可以使用写字板打开。Unix/Linux用户可以使用more或less命令查看该文本文件内容；推荐使用开源文本编辑器gedit for win32版本(http://projects.gnome.org/gedit/)。</p>
<p class="paragraph">图片打开方式：数据中可能包含部分图像文件，一般图像文件后缀名为.png、.pdf、tiff等，对于图像文件，Windows用户可以使用图片浏览器打开，Linux/Unix用户使用display命令打开。  </p>
<p class="paragraph">表格打开方式：Linx下的表格均为制表符(Tab)分割的文本，为了便于阅读，建议使用excel或openoffice等办公软件用表格形式打开，打开时请用“Tab分割”方式。</p>
<p class="paragraph">当文件比较大时，打开文件可能导致Windows系统死机，建议使用性能较好的计算机或者使用更适合处理大量数据的Unix/Linux系统打开。</p>
              

<h1>参考文献</h1>
<p class="paragraph"> [1] PANDAseq: paired-end assembler for illumina sequences.Andre P Masella, Andrea K Bartram, Jakub M Truszkowski, Daniel G Brown and Josh D Neufeld. [J] BMC Bioinformatics, 2012.</p>
<p class="paragraph"> [2] UCHIME improves sensitivity and speed of chimera detection Edgar, R.C, Haas,BJ. et al. [J] Bioinformatics, 2011.</p>
<p class="paragraph"> [3] UPARSE: Highly accurate OTU sequences from microbial amplicon reads. Edgar, R.C. [J] Nature Methods, 2013.</p>
<p class="paragraph"> [4] Metagenomic sequencing reveals altered metabolic pathways in the oral microbiota of sailors during a long sea voyage Zheng W, Zhang Z, Liu C, et al. [J]. Scientific reports, 2015.</p>
<p class="paragraph"> [5] Baleen whales host a unique gut microbiome with similarities to both carnivores and herbivores Sanders J G, Beichman A C, Roman J, et al. [J] Nature communications, 2015.</p>
<p class="paragraph"> [6] Ribosomal Database Project: data and tools for high throughput rRNA analysis. Cole, J. R., Q. Wang, J. A. Fish, B. Chai, D. M. McGarrell, Y. Sun, C. T. Brown, A. Porras-Alfaro, [J] Nucleic Acids Research, 2014. </p>
<p class="paragraph"> [7] Naïve Bayesian Classifier for Rapid Assignment of rRNA Sequences into the New Bacterial Taxonomy.Wang, Q,G. M. Garrity,J. M. Tiedje, and J. R. Cole. [J] Appl Environ Microbiol, 2007. </p>
<p class="paragraph"> [8] Comparative analysis of the gastrointestinal microbial communities of bar-headed goose (Anser indicus) in different breeding patterns by high-throughput sequencing .Wang W, Cao J, Li J R, et al. [J]. Microbiological research, 2016.</p>
<p class="paragraph"> [9] Changes in the composition and diversity of microbial communities during anaerobic nitrate reduction and Fe (II) oxidation at circumneutral pH in paddy soil Li X, Zhang W, Liu T, et al. [J] Soil Biology and Biochemistry, 2016.</p>
<p class="paragraph"> [10] Biogeography of the intestinal mucosal and lumenal microbiome in the rhesus macaque Yasuda K, Oh K, Ren B, et al. [J] Cell host &amp; microbe, 2015.</p>
<p class="paragraph"> [11] Effect of bacterial communities on the formation of cast iron corrosion tubercles in reclaimed water Jin J, Wu G, Guan Y. [J] Water research, 2015.</p>
<p class="paragraph"> [12] Comparative analysis of the gastrointestinal microbial communities of bar-headed goose (Anser indicus) in different breeding patterns by high-throughput sequencing  Wang W, Cao J, Li J R, et al. [J]. Microbiological research, 2016.</p>
<p class="paragraph"> [13] Metagenomic sequencing reveals altered metabolic pathways in the oral microbiota of sailors during a long sea voyage. Zheng W, Zhang Z, Liu C, et al. [J]. Scientific reports, 2015.</p>
<p class="paragraph"> [14] Illumina MiSeq sequencing reveals diverse microbial communities of activated sludge systems stimulated by different aromatics for indigo biosynthesis from indole .Zhang X, Qu Y, Ma Q, et al. [J]. PloS one, 2015.</p>
<p class="paragraph"> [15] Phylogenetic and functional gene structure shifts of the oral microbiomes in periodontitis patients Li Y, He J, He Z, et al. [J] The ISME journal, 2014.</p>
<p class="paragraph"> [16] QIIME allows analysis of high-throughput community sequencing data. Caporaso JG, Kuczynski J. et al. [J] Nature Methods, 2010.</p>
<p class="paragraph"> [17] Bacterial diversity in aquatic and other environments:what 16S rDNA libraries can tell us.  Paul FK, Josephine Y A. [J] FEMS Microbiol.Ecol, 2004.</p>
<p class="paragraph"> [18] Bacterioplankton community shifts associated with epipelagic and mesopelagic waters in the Southern Ocean Yu Z, Yang J, Liu L, et al. [J] Scientific reports, 2015.</p>
<p class="paragraph"> [19] Structural modulation of gut microbiota during alleviation of type 2 diabetes with a Chinese herbal formula.Xu J, Lian F, Zhao L, et al. [J]The ISME Journal, 2015.</p>
<p class="paragraph"> [20] Biogeography of the intestinal mucosal and lumenal microbiome in the rhesus macaque .Yasuda K, Oh K, Ren B, et al. [J]Cell host &amp; microbe, 2015.</p>
<p class="paragraph"> [21] Deciphering chicken gut microbial dynamics based on high-throughput 16S rRNA metagenomics analyses Shaufi M A M, Sieo C C, Chong C W, et al. [J] Gut pathogens, 2015.</p>
<p class="paragraph"> [22] Vineyard soil bacterial diversity and composition revealed by 16S rRNA genes: differentiation by geographic features Burns K N, Kluepfel D A, Strauss S L, et al. [J] Soil Biology and Biochemistry, 2015.</p>
<p class="paragraph"> [23] Phylogenetic and functional gene structure shifts of the oral microbiomes in periodontitis patients Li Y, He J, He Z, et al. [J]. The ISME journal, 2014.</p>
<p class="paragraph"> [24] Metagenomic biomarker discovery and explanation. Segata, N., Izard, J., Waldron, L., Gevers, D., Miropolsky, L., Garrett, W.S., and Huttenhower, C. [J] Genome Biol, 2011.</p>
<p class="paragraph"> [25] Structural modulation of gut microbiota during alleviation of type 2 diabetes with a Chinese herbal formula. Xu J, Lian F, Zhao L, et al. [J] The ISME Journal, 2015.</p>
<p class="paragraph"> [26] STAMP: Statistical analysis of taxonomic and functional profiles. Parks DH, Tyson GW, Hugenholtz P, et al. [J] Bioinformatics, 2014.</p>
<p class="paragraph"> [27] Predictive functional profiling of microbial communities using 16S rRNA marker gene sequences. Langille, M. G.I.*; Zaneveld, J.*; Caporaso, J. G.; McDonald, D.; Knights, D.; a Reyes, J.; Clemente, J. C.; Burkepile, D. E.; Vega Thurber, R. L.; Knight, R.; Beiko, R. G.; and  Huttenhower, C. [J] Nature Biotechnology, 2013.</p>
