body {
	font:12px/20px "微软雅黑", "宋体", Arial, sans-serif, Verdana, Tahoma;
	padding:0;
	margin:0;
	color:#262626;
}
a:link {
 text-decoration:none;
 color:#0099FF;
}
a:visited {
 text-decoration:none;
 color:#0099FF;
}
a:hover {
 text-decoration:underline;
 color:#ff7f24;
}
a:active {
 text-decoration:none;
 color:#ff7f24;
}
.cs-north {
	height:60px;
    background:#B3DFDA;

}
.cs-north-bg {
	width:100%;
	height:100%;
	background:url(../themes/gray/images/header_bg.png) repeat-x;
}
.cs-north-logo {
	height:50px;
	padding:0px 0px 0px 5px;
	color:#fff;font-size:22px;font-weight:bold;text-decoration:none;
	float:left;
	line-height:50px
	
}

.cs-north-logo img{
	width:150px;
	height:50px;
	float:left;
}
.cs-north-name{
	float:left;
	}
.cs-west {
	width:200px;padding:0px;border-left:1px solid #99BBE8;
}
.cs-south {
	line-height:30px;
	padding:0px;text-align:center;
	background-color:#919191;
	margin-top:50px;}
.cs-navi-tab {
	padding:5px;
	display:block;
}
.cs-tab-menu {
	width:120px;
}
.cs-home-remark {
	padding:10px;
}



p {font-size:18px}
	
.main{
	padding:20px 50px 20px 50px;
	width:1100px;
	margin:0 auto;
	}

