<h3 id="OTU PCA分析">5.5 OTU PCA分析（总样品数>=5）</h3>
{% if otu_pca %}
<div class="page">
    <p class="paragraph">
        PCA分析(Principal Component Analysis)，即主成分分析，是一种分析和简化数据集的技术。
        不同处理或不同环境间的样品可能表现出分散和聚集的分布情况，从而可以判断相同条件的样品组成是否具有相似性。
    </p>
    <p class="center">
        <img class="size2" src="images/group/otu_pca.png"/>
    </p>
    <p class="name_fig">图5-5-1 基于OTU丰度的PCA分析</p>
    <p class="premark">
        横坐标表示第一主成分，括号中的百分比则表示第一主成分对样品差异的贡献率;
        纵坐标表示第二主成分，括号中的百分比表示第二主成分对样品差异的贡献率;
        图中点分别表示各个样品。不同颜色代表样品属于不同的分组。
    </p>
</div>
{% else %}
    <p class="error">样品数不足无法分析</p>
{% endif %}