{% if otu_tax_assignments %}
    <h3 id="物种注释分析">3.1 物种注释分析</h3>
    <p class="paragraph">
        从各个OTU中挑选出丰度最高的一条序列，作为该OTU的代表序列（代表序列见文件rep_set.fna）。
        使用RDP方法，将该代表序列与已知物种的{{ amplification }}数据库进行比对，从而对每个OTU进行物种归类
        （物种注释结果见文件
        <a href="javascript:void(0)" onClick="StartExcel('..\\results\\02_OTU\\all\\tax_assignment.tsv')">
            tax_assignments.tsv
        </a>
        ）。
    </p>
    <p class="name_table">表3-1-1 OTU注释统计</p>
    <div class="center_table">
        <div id="toolbar4" class="pull-left-self">
            <select class="form-control">
                <option value="">Export Basic</option>
                <option value="all">Export All</option>
                <option value="selected">Export Selected</option>
            </select>
        </div>
        <table id="table4" data-height="560" data-pagination="true" data-filter-control="true"
               data-show-export="true" data-page-list="[10, 25, 50, 100, 200, All]">
        </table>
    </div>
{% endif %}