<h3 id="物种热图分析">3.4 物种热图分析（总样品数>=5）</h3>
{% if otu_heatmap %}
    <p class="paragraph">
        Heatmap是以颜色梯度来代表数据矩阵中数值的大小并能根据物种或样品丰度相似性进行聚类的一种图形展示方式。
        聚类结果加上样品的处理或取样环境分组信息，可以直观观察到相同处理或相似环境样品的聚类情况，并直接反映了样品的群落组成的相似性和差异性。
        本分析内容在属分类等级进行Heatmap聚类分析。
        纵向聚类表示所有物种在不同样品间表达的形似情况，距离越近，枝长越短，说明样品的物种组成及丰度越相似。
        横向聚类表示该物种在各样品丰度相似情况，与纵向聚类一样，距离越近，枝长越短，说明两物种在各样品间的组成越相似。
    </p>
    <p class="center">
        <img class="size2" src="images/group/heatmap.png"/>
    </p>
    <p class="name_fig">图3-4-1 物种丰度热图</p>
    <p class="premark">
        Heatmap是以颜色梯度来代表数据矩阵中数值的大小并能根据物种或样品丰度相似性进行聚类。
        如有样品分组信息，图中前一行为样品分组信息，颜色与图列对应。
    </p>
{% else %}
    <p class="error">样品数不足无法分析</p>
{% endif %}