
    <h3 id="物种进化树">6.9 物种进化树</h3>
    <p class="paragraph">
        为了进一步研究OTUs的系统进化关系，通过多序列比对得到所有OTUs代表序列的系统发生关系。
        选取最大相对丰度排名前{{ Phylogenetic_genus_top }}的属所对应的OTUs的系统发生关系数据，
        并结合每个OTUs的相对丰度及其代表序列的物种注释置信度信息，进行整合展示，由此可见这些属中的OTU之间的系统进化关系。
    </p>
    <p class="paragraph">软件平台：锐翌分析平台</p>
    <p class="paragraph">结果目录：<a href="javascript:void(0)" onClick="StartExcel('..\\results\\\06_classification_abundance_analysis\\{{ group_file }}\\phylo_tree\\')" target="_blank"> 物种进化树</a></p>
    <p class="center">
        <img class="size2" src="images/group/phylo_tree/phylo_tree.png"/>
    </p>图5-9-1 物种进化树</p>
    <p class="premark">
       注：分支的颜色表示对应的不同门水平分类
    </p>
