
    <h2 id="物种分类树">6.7 物种分类树</h2>
    <p class="paragraph">
        根据物种分类结果，筛选出优势物种，如物种丰度前20进行物种分类树统计，从整个分类系统上了解单个或多个样品中的优势物种的丰度差异和进化关系。
    </p>
    <p class="center">
        <img class="size2" src="images/group/tax_tree/tax_tree_circle.png"/>
    </p>
    <p class="name_fig">图6-7-1 物种分类以及丰度比例关系图</p>
    <p class="premark">
注：不同颜色表示不同的分类水平，圆圈的大小代表该分类的相对丰度大小；分类名下方的数字表示相对丰度百分率。
    </p>
        <p class="center">
        <img class="size2" src="images/group/tax_tree/tax_tree_pie.png"/>
    </p>
    <p class="name_fig">图6-7-2 物种分类以及不同分组占比关系图</p>
    <p class="premark">
说明：不同颜色的扇形表示不同的样品/分组，扇形的大小表示该样品/分组在该分类上相对丰度的比例大小；分类名下方的数字表示相对丰度百分率；
    </p>
