<h3 id="物种聚类分析">6.4 物种聚类分析 </h3>

    <p class="paragraph">
       根据样品中物种注释信息及丰度，从物种和样品两个层面进行物种丰度聚类，通过柱状图对比，利于观察样品之间的聚类关系以及物种组成差异。
    </p>
    <p class="paragraph">软件平台：锐翌分析平台</p>
    <p class="paragraph">结果目录：<a href="javascript:void(0)" onClick="StartExcel('..\\results\\06_classification_abundance_analysis\\{{ group_file }}\\tax_bar_tree\\')" target="_blank"> 06_classification_abundance_analysis\tax_bar_tree\</a></p>
    <p class="center">
        <img class="size2" src="images/group/tax_bar_tree/bar_tree.png"/>
    </p>
    <p class="name_fig">图6-4-1 物种丰度聚类图</p>
    <p class="premark">
        注：最右侧为样品聚类结果，颜色区分样品分组；中间为各个样品的所含属水平比例；右侧表示各个颜色代表的属；
    </p>
