    <h3 id="Core microbiome分析">5.3 Core microbiome分析（总样品数>=5）</h3>
{% if core_microbiome_html %}
    {% if core_otu_exists %}

        
            <p class="paragraph">根据样品的共有OTU以及OTU所代表的物种，可以找到Core microbiome（覆盖100%样品的微生物组）。</p>
            <p class="paragraph">软件平台：锐翌分析平台</p>
            <p class="paragraph">结果文件：<a href="javascript:void(0)" onClick="StartExcel('..\\results\\05_OTU_analysis\\{{ group_file }}\\core_otu\\core_otu.tsv')" target="_blank"> 05_OTU_analysis\core_otu\core_otu.tsv </a></p>
            <p class="name_table">
                表5-3-1 Core microbiome OTU列表
            </p>
            <div class="center_table">
                <div id="toolbar3" class="pull-left-self">
                    <select class="form-control">
                        <option value="">Export Basic</option>
                        <option value="all">Export All</option>
                        <option value="selected">Export Selected</option>
                    </select>
                </div>
                <table id="table3" data-height="560" data-pagination="true" data-filter-control="true"
                       data-show-export="true" data-page-list="[10, 25, 50, 100, 200, All]">
                </table>
            </div> 
            <p class="tremark">   注：第一列OTU ID是OTU名称；</p>
            <p class="tremark">    第二列Taxonomy Level是OTU所代表的物种所在的分类水平；</p></p>
            <p class="tremark">    第三列Taxonomy Name是OTU所代表的物种名称。</p>
            <p class="center">
                共有OTU数与样品的关系
            </p>
            <p class="center">
                <img class="size1" src="images/group/core_otu.png"/>
            </p>
            <p class="name_fig">
                图5-3-1 共有OTU数与样品的关系
            </p>
            <p class="premark">
                注：横坐标是覆盖样品的比例，纵坐标是统计的覆盖大于此比例样品的OTU的数目。图中表示的是覆盖一定比例以上样品的OTU的数目。
            </p>



    {% else %}
        <p class="error"> 未找到Core Microbiome </p>
    {% endif %}
{% else %}
    <p class="error">样品数不足无法分析</p>
{% endif %}