
    <h3 id="物种进化树">6.9 物种进化树</h3>
    <p class="paragraph">
        在分子进化研究中进一步研究系统进化关系，通过系统发生关系推断来揭示某一分类水平OTUs 序列间碱基的差异，结合各个OTUs 序列所代表的物种注释信息，进而构建物种进化树<sup>[15]</sup>。如下图所示：
    </p>
    <p class="paragraph">软件平台：锐翌分析平台</p>
    <p class="paragraph">结果目录：<a href="javascript:void(0)" onClick="StartExcel('..\\results\\06_classification_abundance_analysis\\{{ group_file }}\\phylo_tree\\')" target="_blank"> 06_classification_abundance_analysis\phylo_tree\</a></p>
    <p class="center">
        <img class="size2" src="images/group/phylo_tree/phylo_tree.png"/>
    </p class="name_fig">图5-9-1 物种进化树</p>
    <p class="premark">
       注：分支的颜色表示对应的不同门水平分类。
    </p>
